* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

// body::-webkit-scrollbar {
//   width: 0; /* Chrome Safari */
// }

li {
  list-style: none;
}

.flex {
  display: flex;
}

.f-1 {
  flex: 1;
}
.j-c {
  justify-content: center;
}

.s-p {
  justify-content: space-between;
}

.a-c {
  align-items: center;
}

.el-form-item__label {
  color: #eee;
}
.el-form-item__content {
  text-align: center;
}

.el-form-item__content .el-button:first-child {
  margin-right: 60px;
}
